---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";
import "@fontsource/barlow/400.css";
import "@fontsource/barlow/500.css";
import "@fontsource/biryani/400.css";
import "@fontsource/biryani/600.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "ZOZZO | Apprendre le français de manière ludique",
  description = "ZOZZO propose une expérience simple, colorée et pédagogique pour aider les enfants à progresser en français.",
} = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
